export EDITOR=/usr/bin/vim

PATH=~/.composer/vendor/bin:~/bin:$PATH

if [ -f ~/.git-completion.bash ]; then
  . ~/.git-completion.bash
fi

# function publish {
#         rsync -razv --exclude less/ --exclude node_modules/ --exclude .git/ $1 $2
# }

# alias iu='rdesktop iu-ses-p637-02.ads.iu.edu -g 90%  -u ads\\athill &'
# alias pk='ssh pkcar@pizzakingofcarmel.com'
# alias upc='ssh upcbloom@upcbloomington.org'
# alias vpn='ncsvc -h vpn.iu.edu -u athill -r Default-Realm -f ~/.vpn.iu.edu.cert'
# alias ah='ssh andyhil@andyhill.us'
# alias update_demo='rsync -razv --exclude less/ --exclude node_modules/ --exclude .git/ ~/Code/Homestead/sites/PHP-Utils-Demo/ andyhil@andyhill.us:~/sites/PHP-Utils-Demo'
# alias serve='php -S localhost:8000'
# alias update_ie='publish ~/Code/Homestead/sites/informedelectorate/ andyhil@andyhill.us:~/sites/ie'
# alias update_bucket='publish ~/Code/Homestead/sites/bucket-vote/ andyhil@andyhill.us:~/sites/bucket-vote'
# alias update_upc='publish ~/Code/Homestead/sites/upc/ upcbloom@upcbloomington.org:~/public_html'
# alias update_ansible='rsync -azP --exclude .git/ --delete ~/Code/ansible-php/ athill@162.243.228.194:~/ansible-php'


# alias restart_vb='sudo "/Library/Application Support/VirtualBox/LaunchDaemons/VirtualBoxStartup.sh" restart'
# alias desk='ssh athill@bloomingscene.dyndns.org'

# export NVM_DIR="/Users/andy/.nvm"
# [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm
