export EDITOR=/usr/bin/vim
export NODE_ENV={{app_env}}

PATH=~/.composer/vendor/bin:~/bin:$PATH

function register() {
  cat ~/.ssh/id_rsa.pub | ssh "$1" 'mkdir -p ~/.ssh; cat >> .ssh/authorized_keys'
}

if [ -f ~/.git-completion.bash ]; then
  . ~/.git-completion.bash
fi
