# cd to project dir
cd {{ project_dir }}

# checkout branch
git checkout {{ repo_version }}
git pull

# remove dependicies
rm -rf node_modules
rm -rf vendor

# update composer
composer update

# artisan migrations
php artisan migrate

# clear caches
php artisan cache:clear
php artisan view:clear

# cache any config values
php artisan cache:config

# update npm
npm install

# webpack
npm run webpack

# update less
gulp less