# cd to project dir
cd {{ project_dir }}

# checkout branch
git checkout {{ repo_version }}
git pull

# update composer
composer update

# artisan migrations
php artisan migrate

# clear caches
php artisan cache:clear
php artisan view:clear

# set up npm
n use stable

# update npm
npm install

# webpack
npm run webpack

# update less
gulp less