# cd to project dir
cd {{ informed_project_dir }}

# checkout branch
git checkout {{ repo_version }}
git pull

# update composer
composer update

# artisan migrations
php artisan migrate

# clear caches
php artisan cache:clear
php artisan view:clear

php artisan cache:config

# set up npm
# n lts

# update npm
npm install

# run laravel mix
npm run {{ app_env == 'production' | ternary('production', 'dev')  }}