server {
    listen 80;
    server_name {{host}} www.{{host}};
    return 301 https://$host$request_uri;
}

server {
    # listen 80 default_server;
    # listen [::]:80 default_server ipv6only=on;
    listen 443 ssl;


    root {{project_dir}}/public;
    index index.php index.html index.htm;

    server_name {{ host }};

    # server_name {{host}} www.{{host}};

    ssl_certificate /etc/letsencrypt/live/{{host}}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{host}}/privkey.pem;

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers on;
    ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';


    error_page 404 /404.html;
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root {{project_dir}}/public;
    }

    location / {
             try_files $uri $uri/ /index.php$is_args$args;
    }

#    location ~ \.php$ {
#        try_files $uri =404;
#        fastcgi_split_path_info ^(.+\.php)(/.+)$;
#        fastcgi_pass unix:/var/run/php{{php_version}}-fpm.sock;
#        fastcgi_index index.php;
#        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
#        include fastcgi_params;
#    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.0-fpm.sock;
    }

    # for let's encrypt auto-renewal
    location ~ /.well-known {
            allow all;
    }
}
