# cd to project dir
cd {{ project_dir }}

# checkout branch
git checkout {{ repo_version }}
git pull

{% if use_laravel %}
# shutting down site
php artisan down
{% endif %}

# remove dependicies
rm -rf node_modules
rm -rf vendor

# update composer
composer install --no-interaction --prefer-dist --optimize-autoloader 

# artisan migrations
cat .env | grep DATABASE && php artisan migrate --no-interaction --force

{% if use_laravel %}
# clear caches
php artisan clear-compiled
php artisan cache:clear
php artisan config:clear
php artisan route:clear
php artisan view:clear

# cache any config values
php artisan config:cache
{% endif %}

# update npm
npm install

# webpack
{{ node_build_command }}

{% if use_laravel %}
# bringing up site
php artisan up
{% endif %}