APP_ENV={{ app_env }}
APP_DEBUG={{ app_debug or False }}
APP_NAME={{ pkcar_app_name }}
APP_KEY={{ pkcar_app_key }}
APP_URL=https://{{ pkcar_host }}

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=sendmail
MAIL_FROM_ADDRESS=no-reply@pizzakingofcarmel.com
MAIL_FROM_NAME="Pizza King of Carmel"
MAIL_TO=andy@andyhill.us
