APP_ENV={{ app_env }}
APP_DEBUG={{ app_debug or False }}
APP_NAME={{ sitecheck_app_name }}
APP_KEY={{ sitecheck_app_key }}
APP_URL=https://{{ sitecheck_host }}

DB_HOST=localhost
DB_DATABASE={{ sitecheck_db_database }}
DB_USERNAME={{ sitecheck_db_user }}
DB_PASSWORD={{ sitecheck_db_password }}

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=sendmail
MAIL_FROM_ADDRESS=no-reply@sitecheck.wimf.space
MAIL_FROM_NAME=Sitecheck
MAIL_TO=andy@andyhill.us
