APP_ENV={{ app_env }}
APP_DEBUG={{ app_debug or False }}
APP_NAME={{ wimf_app_name }}
APP_KEY={{ wimf_app_key }}
APP_URL=https://{{ wimf_host }}

DB_HOST=localhost
DB_DATABASE={{ wimf_db_database }}
DB_USERNAME={{ wimf_db_user }}
DB_PASSWORD={{ wimf_db_password }}

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER={{ wimf_mail_driver }}
MAIL_HOST={{ wimf_mail_host }}
MAIL_PORT={{ wimf_mail_port }}
MAIL_USERNAME={{ wimf_mail_username }}
MAIL_PASSWORD={{ wimf_mail_password }}
MAIL_ENCRYPTION=nulwimf_l
MAILGUN_DOMAIN={{ wimf_mailgun_domain }}
MAILGUN_SECRET={{ wimf_mailgun_secret }}
MAIL_FROM_ADDRESS={{ wimf_mail_from_address }}
MAIL_FROM_NAME={{ wimf_mail_from_name }}

JWT_SECRET={{ wimf_jwt_secret }}

GITHUB_CLIENT_ID={{ wimf_github_client_id }}
GITHUB_CLIENT_SECRET={{ wimf_github_client_secret }}
GITHUB_CLIENT_CALLBACK={{ wimf_github_client_callback }}